@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
  background: #F7F9FC;
  color: #7F7C82;
  font-size: 16px;
  font-family: 'Poppins', serif;
  line-height: 1.6;
  margin: 0;
  font-weight: 700;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

h2{
  color: #2C3639;
  font-size: 30px;
  margin: 0;
}

.banner {
  background-image: url("https://source.unsplash.com/random/1000x500");
  background-size: cover;
  color: white;
  padding: 120px 0;
  margin: 0;
}

.banner h1 {
  font-size: 38px;
  text-align: center;
}

.banner p {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: 0,8;
}

@media (max-width: 1200px){
  .container {
    width: 700px;
    margin: 50px auto;
  }
}

@media (max-width: 992px){
  .container {
    width: 500px;
    margin: 50px auto;
  }
}

@media (max-width: 768px){
  .container {
    width: 300px;
    margin: 50px auto;
  }
}

@media (max-width: 576px){
  .container {
    width: 100px;
    margin: 50px auto;
  }
}

.link-medium {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #7895B2;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}
.link-medium:hover {
  background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
}
